---
import { formatDate } from "~/utils/date"
import type { TExperience } from "~/constants/experiences"
import { EXPERIENCES } from "~/constants/experiences"
import Link from "~/components/link.astro"
import { Badge } from "~/lib/ui/badge"

type Props = {
  experiences?: TExperience[]
  company?: string
}

const props = Astro.props
---

<div class="[&>*+*]:mt-8">
  {
    (props.experiences ?? EXPERIENCES).map((experience) =>
      "experiences" in experience ? (
        <Astro.self
          company={experience.company}
          experiences={experience.experiences as unknown as TExperience[]}
        />
      ) : (
        <div class="flex flex-col gap-y-3.5">
          <div class="flex flex-col justify-between sm:flex-row sm:items-center">
            <p class="text-secondary-foreground font-semibold">
              <span>{experience.title}</span>
              <Link class="text-foreground" href={experience.url}>
                @ {props.company ?? experience.company}
              </Link>
            </p>

            <p class="text-accent-foreground mt-1">
              <span>{formatDate(experience.from)}</span>
              <span> — </span>
              <span>{formatDate(experience.to!)}</span>
            </p>
          </div>

          <p>{experience.description}</p>

          <div class="flex flex-wrap gap-2">
            {experience.skills.map((skill) => (
              <Badge variant="secondary">{skill}</Badge>
            ))}
          </div>
        </div>
      ),
    )
  }

  <Link href="/resume" class="gap-1">View full resumé</Link>
</div>
