---
import { env } from "~/env"
import { SECTIONS } from "~/constants/sections"
import { SOCIAL } from "~/constants/social"
import { AUTHOR, DESCRIPTION, JOB_TITLE } from "~/constants/seo"
import Link from "~/components/link.astro"

type Props = astroHTML.JSX.HTMLAttributes

const props = Astro.props
---

<header {...props}>
  <hgroup>
    <h1>
      <Link
        class="text-foreground text-3xl font-bold"
        href={env.getCanonicalURL(Astro.site!, Astro.url)}
        icon={false}>
        {AUTHOR}
      </Link>
    </h1>

    <h2 class="text-secondary-foreground mt-1">
      {JOB_TITLE}
    </h2>

    <h3 class="text-accent-foreground mt-6 max-w-2xs text-sm">
      {DESCRIPTION}
    </h3>
  </hgroup>

  <nav class="mt-16 hidden lg:block">
    <ol class="[&>li+li]:mt-2">
      {
        SECTIONS.map((section) => (
          <li
            id={section.linkId}
            class="text-muted-foreground data-[active=true]:text-foreground data-[active=false]:hover:text-accent-foreground data-[active=false]:active:text-secondary-foreground data-[active=false]:focus-visible:text-accent-foreground">
            <Link
              class="text-xs font-semibold uppercase"
              href={section.href}
              icon={false}>
              {section.title}
            </Link>
          </li>
        ))
      }
    </ol>
  </nav>

  <div class="mt-6 place-content-end lg:mt-0">
    <nav class="flex gap-3">
      {
        SOCIAL.map((social) => {
          return (
            <Link
              icon={false}
              href={social.href}
              aria-label={social.label}
              target="_blank"
              class="text-muted-foreground hover:text-accent-foreground focus-visible:text-accent-foreground active:text-secondary-foreground inline-block">
              <social.icon class="h-6" />
            </Link>
          )
        })
      }
    </nav>
  </div>
</header>
